<div class="container mx-auto p-5"> 
  <h1 class="text-center">
    <span class="font-bold">Link your&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;business card</span>

    <br />
   to <span class="highlight-blue" style="font-size: 55px;"> unlock cashback</span>&nbsp;offers
  </h1>

  <table class="features-table">
    <thead>
      <tr>
        <th></th>
        <th>No card linking required</th>
        <th>Link your card to get</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Instant Coupons</td>
        <td>
          <figure class="w-fit bg-primary p-1 rounded-full flex justify-center items-center">
            <figcaption class=" p-0.5 bg-white rounded-full flex justify-center items-center">
              <mat-icon color="accent">done</mat-icon>
            </figcaption>
          </figure>
        </td>
        <td>
          <figure class="w-fit bg-primary p-1 rounded-full flex justify-center items-center">
            <figcaption class=" p-0.5 bg-white rounded-full flex justify-center items-center">
              <mat-icon color="accent">done</mat-icon>
            </figcaption>
          </figure>
        </td>
      </tr>
      <tr>
        <td>Full access to Visa Savings Edge benefits</td>
        <td>
        </td>        
        <td>
          <figure class="w-fit bg-primary p-1 rounded-full flex justify-center items-center">
            <figcaption class=" p-0.5 bg-white rounded-full flex justify-center items-center">
              <mat-icon color="accent">done</mat-icon>
            </figcaption>
          </figure>
        </td>
      </tr>
      <tr>
        <td>Cashback tracking</td>
        <td></td>
        <td>
          <figure class="w-fit bg-primary p-1 rounded-full flex justify-center items-center">
            <figcaption class=" p-0.5 bg-white rounded-full flex justify-center items-center">
              <mat-icon color="accent">done</mat-icon>
            </figcaption>
          </figure>
        </td>
      </tr>
      <tr>
        <td>Merchant location search</td>
        <td></td>
        <td>
          <figure class="w-fit bg-primary p-1 rounded-full flex justify-center items-center">
            <figcaption class=" p-0.5 bg-white rounded-full flex justify-center items-center">
              <mat-icon color="accent">done</mat-icon>
            </figcaption>
          </figure>
        </td>
      </tr>
      <tr>
        <td>Cashback offers</td>
        <td></td>
        <td>
          <figure class="w-fit bg-primary p-1 rounded-full flex justify-center items-center">
            <figcaption class=" p-0.5 bg-white rounded-full flex justify-center items-center">
              <mat-icon color="accent">done</mat-icon>
            </figcaption>
          </figure>
        </td>
      </tr>
    </tbody>
  </table>
</div>
